<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Aluth Recipes</h2>
    <h3>By Laki_99</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>